@model IEnumerable<WEBCodigo.Models.Product>
@{
    ViewBag.Title = "Products";
}

<h1>Products</h1>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Active</th>
                <th>Date Create</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductID</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.IsActive</td>
                    <td>@product.CreatedDate</td>
                </tr>
            }
        </tbody>
    </table>
}
